/* Timeline Container */
.timeline {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
}

/* Card container */
.card {
    position: relative;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    background: transparent;
    border: none;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}

.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}

/* Global ::before */
.card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid #F8BC00;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 19000px) {
    .card:nth-child(odd)::before {
        top: -5px;
        bottom: -5px;
    }
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    background: rgba(51, 51, 51, 0.26);
    backdrop-filter: blur(20px);
    color: gray;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}

.info p {
    padding: 0px 10px;
}

/* Title of the card */
.title {
    color: #F8BC00;
    position: relative;
    text-align: left;
    padding: 0px 10px;
    margin-top: 10px;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: rgb(26, 26, 26);
    border-radius: 999px;
    border: 3px solid #F8BC00;
}

/* text right if the card is even  */
.card:nth-child(even)>.info>.title {
    text-align: right;
}

.card:nth-child(even)>.info>.texta {
    text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd)>.info>.title::before {
    left: -45px;
    
}

/* setting dot to the right if the card is odd */
.card:nth-child(even)>.info>.title::before {
    right: -45px;
}